
body {
    color:#212121;
    background-color: rgb(135, 200, 250);
    width: 100%;
}

#banner {
    width:100%;
    height: 5rem;
    box-sizing:border-box; 
    text-align: center;
    margin-left: 2rem;
    font-size: 1.25rem;
}
#main {
    width:100%;
    padding: 1rem;
}
/* hide screen-reader only text. https://webaim.org/techniques/css/invisiblecontent/ */
.clip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    justify-content: space-around;
}

.read-more {
    background: #320061;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;    
}

/* https://css-tricks.com/css-content/ */
.read-more:after {
    content:  " \00bb";
}

.teaser{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding: 1;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    display: block; 
    padding: 1rem; 
    margin-left: 1rem;
    margin-right: 1rem;
}

.sections {
    display:block;
    text-justify: auto;
    margin: 2rem 2rem;
    border-bottom-style: solid;
    border-bottom-color: #212121;
    border-bottom-width: .5rem;
    
}

.title-link {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    justify-content: space-around;
    color: #212121;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 1rem 2rem 1rem;
    
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 1rem;
}

.video-responsive { 
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 1rem 0;
}  

.video-responsive iframe {
    height:100%;
    width:100%;
    position: absolute;
    left:0;
    top:0;
}

.byline-info {
    color: #320061;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}

.author-info {
    color:#320061;
    font-size: 1.25rem;
    display: block;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: .25rem;
    border-radius: 1rem; 
    padding: 1rem 1rem 1rem 1rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
    box-sizing:border-box;
}

.figure {
    margin: 3rem 0; 
}

.fig-caption {
    text-align: left;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    justify-content: space-around;
}

.article-one .article-two {
    font-size: 2rem;
    width: 100%;
    display: block;
}

#more-info {
    display: block;
    text-align:left;
    padding: 2rem;
    border-style: solid;
    border-color: black;
} 

h3 {
    font-weight: bold;
    font-size: 1.25rem; 
    margin: .5rem 1rem;
}

h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h5 {
    text-align: center;
    font-size: 1.25rem;
    justify-content: space-around;
}

#footer-info {
    font-size: 1.25rem;
    text-align:center;
    justify-content: space-around;
    border-style: solid;
    border-color: black;
    border-width: .25rem;
    border-radius: 1rem;  
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width:600px) {
    main {
        max-width:90%;
        margin: 0 auto;
    }
    h1 {
        font-size:3rem;
    }
    h2 {
        font-size:2rem;
    }
    h3 h4 h5 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    p {
        font-size:1.5rem;
    }
    .fig-caption {
        font-size:1.25rem;
    }
}

@media (min-width:900px) {
    main {
        max-width: 80%;
    }
}