body {
    color:#212121;
    background-color: #57B6FF;

}
banner {
    width:100%;
    height: 3rem; 
}
/* #main {
    display:block;
    width: 95%;
} */

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    display: block;
    justify-content: space-around;
    justify-content: space-between;
} 
.sections {
    display:block;
    text-justify: auto;
    width: auto;
    margin-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
h1 {
    font-weight:bold;
    font-size: 2rem;
    padding: 20px 10px 20px 10px;
    text-align: center;
    justify-content: center;
    color: #320061;
}
.video-responsive {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
}
.video-responsive iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position: absolute;
        box-sizing:border-box;
        padding: 1rem, 1rem, 1rem, 1rem;
}
.author-info {
    font-size: 1.25rem;
    display: block center;
    text-align: left;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 10rem);
}
.date {
    text-align-last: center;    
}

img {
    width: 100%;
    height: auto;
    display: block;
    display:center;
    box-sizing:border-box;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.article-one .article-two {
    font-size: 2rem;
    width: calc(100% - 6rem);
    display: block;
}
#more-info {
    display: block;
    text-align:center;
    background-color: white;
    padding: 2rem;

} 
h3 {
    text-align:auto;
    font-weight: bold; 
}

h4 {
    text-align: center;
    font-weight: bold;
}

#footer-info {
    font-size: 1rem;
    text-align:center;
    justify-content: space-around;   
}
